:root {
    --main-background-color: #F3EEDF;
    --light-accent-color: #D9B6CF;
    --dark-accent-color: #594154;
    --medium-accent-color: #8C6684;
    --contrast-color: #EBC4B6;
}

body {
    height: 100%;
    display: block;
    background-color: var(--main-background-color) !important;
}

#header {
    width: 100%;
    background-color: var(--dark-accent-color);
    display: inline-block;
}

#search {
    width: 24%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    height: auto;
    font-size: 1.2vw;
}

#search:focus {
    width: 50%;
}

#search-container {
    padding: 3vw 0vw;
}

#main-container {
    padding: 0px;
    height: 100%;

}

#left-menu {
    border: 3px solid var(--medium-accent-color);
    height: 100%;

}

#menu {
    width: 100%;

}

li {
    list-style-type: none;
}

.content-container {
    width: 100%;
}

.tab {
    overflow: hidden;
    background-color: var(--light-accent-color);
    display: inline-block;
    border: hidden;
    padding: 0;

}

.tablinks {
    margin: 0;
    background-color: var(--light-accent-color);

}

.tablinks:hover {
    background-color: var(--medium-accent-color);
}

.tablinks:active {
    background-color: var(--medium-accent-color);
}

.tablinks:focus {
    background-color: var(--medium-accent-color);
}

button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5vw 0.6vw;
    transition: 0.3s;
    font-size: 1.2vw;
}

button:hover {
    background-color: #ddd;
}

button.active {
    background-color: #ccc;
}

.tabcontent {
    width: 100%;
    display: none;
    padding: 0;
    border-top: none;
}

.remove-padding {
    padding: 0px !important;
}

.filtr-button {
    width: 100%;
    padding: 0px;
}

.drop-button {
    text-align: left;
    border: 2px solid var(--medium-accent-color);
    width: 100%;
    display: block;
}

.drop-span {
    /*display: none;*/
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.drop-span form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.caret {
    float: right;
}

.dropdowndiv:hover .drop-span {
    display: block;
}

.dropdowndiv {
    padding: 0px !important;
    position: relative;
    display: inline-block;
}

.span {
    color: black;
    text-decoration: none;
    display: inline;
    text-align: center;
}

.multiselect {
    border-bottom: 2px solid var(--dark-accent-color);
    width: 80%;
}

.select-box {
    position: relative;
    font-weight: normal;

}

.select-box select {
    width: 100%;
}

.select-box:hover {
    display: block;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

input[type='text'], input[type='number'] {
    border: hidden;
    border-bottom: 2px solid var(--dark-accent-color);
    width: 80%;

}

input:focus {
    outline-color: var(--dark-accent-color);

}

input {
    text-decoration: none;
    font-weight: normal;
    background-color: var(--main-background-color);

}

.options label {
    text-decoration: none;
    font-weight: normal;
}

select {
    padding: 0;
    border: hidden;
    background-color: var(--main-background-color);
    z-index: 1;

}

.options {
    display: none;
    border: hidden;
    position: absolute;
    z-index: 1;
    width: inherit;
    background-color: var(--main-background-color);
    opacity: 0.8;
}

.options label {
    display: block;
}

.options label:hover {
    background-color: var(--light-accent-color);
}

.tabcontent {
    margin: 0px;
    padding: 0px;
    border: hidden;
}

.edit-input {

    padding: 0px;
}

table th {
    padding: 5px 20px;
    color: var(--dark-accent-color);
    white-space: nowrap;
    font-weight: normal;

}

table td, table th {
    padding: 20px;
    text-align: left;
    font-size: 1vw;

}

table tr {
    border-bottom: 1px solid var(--dark-accent-color);

}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
}

.cloth-img {
    max-height: 75px;
    max-width: 100px;
}

.add-btn {
    padding: 0;
    text-align: left;
    color: var(--dark-accent-color);
}

#btn-tab {
    border-bottom: 1px solid var(--light-accent-color);
    padding: 0 0 10px;
}

.error-span {
    display: block;
    text-align: center;
    color: hotpink;
    font-size: 1.1vw;
}

.redirect {
    position: absolute !important;
    right: 0 !important;
    background-color: var(--light-accent-color);
    padding: 0.5vw 0.6vw;
    color: #594154;
    font-size: 1.2vw;

}

.redirect:hover {
    background-color: var(--dark-accent-color);
    color: black;
    font-size: 1.2vw;

}

#edit-category {
    width: 30%;
}

#error-name-info {
    color: hotpink;
}

.empty-span {
    display: none;
    text-align: center;
    color: hotpink;
    font-size: 1.1vw;
}