<!DOCTYPE html>
<html lang="pl" ng-app="clothes-shop">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Sklep</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="js/script-category.js"></script>

    <script src="angular/categoryController.js"></script>

    <link rel="stylesheet" href="css/style-category.css">
</head>

<body ng-controller="CategoryController">
<header id="header">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 logo">
        <div>Shop</div>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" id="search-container">
        <input id="search" type="text" name="search" placeholder="Search..">
        <button class="glyphicon glyphicon-search"></button>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    </div>
</header>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="main-container">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" id="btn-tab">
        <div class="tab">

            <button class="tablinks" id="add-category-tab">Dodaj kategorię</button>
            <a href="index.html" class="redirect" id="clothes-redirect">Ubrania</a>

        </div>


        <div id="add-category" class="tabcontent">

            <form name="categoryForm" ng-submit="add(categories)" novalidate>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 dropdowndiv">

                    <input ng-model="category.name" required name="categoryName" class="edit-input" id="name-input"
                           type="text"
                           placeholder="Nazwa">
                    <span ng-show="categoryForm.categoryName.$touched && categoryForm.categoryName.$invalid &&!isAnotherNameError()"
                          class="error-span" id="name-error-span">Wpisz nazwę!</span>
                    <span class="empty-span" id="name-empty-span">Wpisz nazwę!</span>

                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 dropdowndiv">

                    <button class="add-btn glyphicon glyphicon-plus" id="add-category-btn"></button>
                </div>

                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 remove-padding">
                </div>

            </form>

        </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <table class="table">
                <thead>
                <tr>
                    <!--<th>ID</th>-->
                    <th><span ng-click="sortType='name'">NAZWA<span
                            ng-click="sortType='name'; sortReverse = !sortReverse"
                            class="glyphicon glyphicon-chevron-down"
                            ng-show="sortType == 'name'&& !sortReverse"
                            class="glyphicon glyphicon-chevron-down">
                                </span>
                        <span ng-click="sortType='name'; sortReverse = !sortReverse"
                              ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>

                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="categories-tbody">

                <tr ng-repeat="category in categories | orderBy:sortType:sortReverse"
                    ng-include="getTemplate(category)">

                </tr>

                </tbody>

            </table>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        </div>
    </div>
</div>


<script type="text/ng-template" id="display">
    <!--<td>{{category.id}}</td>-->
    <td>{{category.name}}</td>
    <td>
        <button class="glyphicon glyphicon-pencil" ng-click="edit(category)"></button>
    </td>
    <td>
        <button class="glyphicon glyphicon-trash" ng-click="delete(category)"></button>
    </td>

</script>


<script type="text/ng-template" id="edit">
    <!--<td>{{category.id}}</td>-->
    <td><input type="text" id="edit-category" name="editedCategoryName" required ng-model="editedCategory.name"
               placeholder="Nazwa">
        <span id="error-name-info" ng-show="isEmptyName()">Wpisz nazwę!</span>
    </td>
    <td>
        <button class="glyphicon glyphicon-ok" ng-click="saveEdited(editedCategory)"></button>
    </td>

    <td>
        <button class="glyphicon glyphicon-remove" ng-click="reset()"></button>
    </td>

</script>

</body>
</html>


