<!DOCTYPE html>
<html lang="pl" ng-app="clothes-shop">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Sklep</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="js/scripts.js"></script>
    <script src="angular/outfitController.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="OutfitController">


<header id="header">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 logo">
        <div>Shop</div>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" id="search-container">
        <input id="search" type="text" name="search" placeholder="Search..">
        <button class="glyphicon glyphicon-search"></button>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    </div>
</header>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="main-container">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" id="btn-tab">
        <div class="tab">
            <button class="tablinks" id="filter-tab">Filtruj</button>
            <button class="tablinks" id="add-product-tab">Dodaj produkt</button>
            <a href="index-category.html" class="redirect" id="category-redirect">Kategorie</a>
        </div>
        <div id="filter" class="tabcontent">

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 dropdowndiv">
                <form>
                    <div class="multiselect" id="multiselect-size">
                        <div class="select-box" id="select-box-size">
                            <select>
                                <option>Rozmiar</option>
                            </select>
                            <div class="overSelect"></div>
                        </div>
                        <div class="options" id="size-options">
                            <label ng-repeat="size in sizes" for="{{size}}">
                                <input type="checkbox" id="{{size}}" value="{{size}}"/>{{size}}</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 dropdowndiv">
                <form>
                    <div class="multiselect" id="multiselect-color">
                        <div class="select-box" id="select-box-color">
                            <select class="selectButton">
                                <option>Kolor</option>
                            </select>
                            <div class="overSelect"></div>
                        </div>
                        <div class="options" id="color-options">
                            <label ng-repeat="color in colors" for="{{color}}">
                                <input type="checkbox" id="{{color}}" value="{{color}}"/>{{color}}</label>

                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 dropdowndiv">

                <div class="multiselect" id="multiselect-category">
                    <div class="select-box" id="select-box-category">


                        <select>
                            <option>Kategoria</option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <div class="options" id="category-options">
                        <label ng-repeat="cat in categories" for="{{cat}}">
                            <input type="checkbox" id="{{cat}}" value="{{cat}}"/>{{cat.name}}</label>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 dropdowndiv">
                <input type="number" min="0" id="price-min" class="edit-input number-input" placeholder="Cena od"/>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 dropdowndiv">

                <input type="number" min="0" id="price-max" class="edit-input number-input" placeholder="Cena do"/>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 dropdowndiv">

                <label id="error-info" class="edit-input"></label>
            </div>
        </div>

        <div id="add-product" class="tabcontent">

            <form name="outfitForm" ng-submit="add(outfits)" novalidate>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 dropdowndiv">

                    <input ng-model="outfit.name" name="outfitName" required class="edit-input" id="name-input"
                           type="text" placeholder="Nazwa">
                    <span ng-show="outfitForm.outfitName.$touched && outfitForm.outfitName.$invalid &&!isAnotherNameError()" class="error-span"
                          id="name-error-span">Wpisz nazwę!</span>
                    <span class="empty-span" id="name-empty-span">Wpisz nazwę!</span>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 dropdowndiv">

                    <div class="multiselect" id="multiselect-size-add">
                        <div class="select-box" id="select-box-size-add">

                            <select ng-model="outfit.size" required id="size-input" name="outfitSize">
                                <option selected hidden disabled value="">Rozmiar</option>
                                <option ng-repeat="size in sizes" id={{size}}-add value="{{size}}">{{size}}</option>
                            </select>
                        </div>
                    </div>
                    <span ng-show="outfitForm.outfitSize.$touched && outfitForm.outfitSize.$invalid && !isAnotherSizeError()"
                          id="size-error-span" class="error-span">Wybierz rozmiar!</span>
                    <span class="empty-span" id="size-empty-span">Wybierz rozmiar!</span>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 dropdowndiv">

                    <div class="multiselect" id="multiselect-category-add">
                        <div class="select-box" id="select-box-category-add">
                            <select id="outfitCategory">
                                <option>Kategoria</option>
                            </select>
                            <div class="overSelect"></div>
                        </div>
                        <div class="options" id="category-options-add">
                            <label class="category-label" ng-repeat="cat in categories" for="{{cat}}-add">
                                <input class="category-label" type="checkbox" id="{{cat}}-add"
                                       value="{{cat.name}}"/>{{cat.name}}</label>
                        </div>
                    </div>
                    <span class="empty-span" id="category-empty-span">Wybierz kategorię!</span>

                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 dropdowndiv">

                    <div class="multiselect" id="multiselect-color-add">
                        <div class="select-box" id="select-box-color-add">
                            <select id="color-input" ng-model="outfit.color" required name="outfitColor">

                                <option value="" selected hidden>Kolor</option>
                                <option ng-repeat="color in colors" id={{color}}-add value="{{color}}">
                                    {{color}}
                                </option>

                            </select>
                        </div>
                    </div>
                    <span ng-show="outfitForm.outfitColor.$touched && outfitForm.outfitColor.$invalid && !isAnotherColorError()"
                          class="error-span" id="color-error-span">Wybierz kolor!</span>
                    <span class="empty-span" id="color-empty-span">Wybierz kolor!</span>


                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 dropdowndiv">

                    <input ng-model="outfit.price" required name="outfitPrice" class="edit-input" type="number" min="0"
                           id="price-input" placeholder="Cena"/>
                    <span ng-show="outfitForm.outfitPrice.$touched && outfitForm.outfitPrice.$invalid && !isAnotherPriceError()"
                          class="error-span" id="price-error-span">Wpisz poprawną cenę!</span>
                    <span class="empty-span" id="price-empty-span">Wpisz poprawną cenę!</span>

                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 dropdowndiv">

                    <button type="submit"
                            class="add-btn glyphicon glyphicon-plus"
                            id="add-product-btn"></button>
                </div>
            </form>

        </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <table class="table" id="clothes-list">
                <thead>
                <tr>
                    <!--<th>ID</th>-->
                    <th>NAZWA
                        <span ng-click="sortType='name'; sortReverseName = !sortReverseName"
                              class="glyphicon glyphicon-chevron-down"
                              ng-show="!sortReverseName"
                              class="glyphicon glyphicon-chevron-down">
                                </span>
                        <span ng-click="sortType='name'; sortReverseName = !sortReverseName"
                              ng-show="sortReverseName" class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th>ROZMIAR
                        <span ng-click="sortType='size'; sortReverseSize = !sortReverseSize"
                              class="glyphicon glyphicon-chevron-down"
                              ng-show="!sortReverseSize"
                              class="glyphicon glyphicon-chevron-down">
                                </span>
                        <span ng-click="sortType='size'; sortReverseSize = !sortReverseSize"
                              ng-show="sortReverseSize" class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th>KOLOR
                        <span ng-click="sortType='color'; sortReverseColor = !sortReverseColor"
                              class="glyphicon glyphicon-chevron-down"
                              ng-show="!sortReverseColor"
                              class="glyphicon glyphicon-chevron-down">
                                </span>
                        <span ng-click="sortType='color'; sortReverseColor = !sortReverseColor"
                              ng-show="sortReverseColor" class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th>CENA
                        <span ng-click="sortType='price'; sortReversePrice = !sortReversePrice"
                              class="glyphicon glyphicon-chevron-down"
                              ng-show="!sortReversePrice"
                              class="glyphicon glyphicon-chevron-down">
                                </span>
                        <span ng-click="sortType='price'; sortReversePrice = !sortReversePrice"
                              ng-show="sortReversePrice" class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th>KATEGORIE</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="clothes-tbody">
                <tr ng-repeat="outfit in outfits | orderBy:sortType:(sortReverseName || sortReverseColor || sortReverseSize || sortReversePrice)"
                    ng-include="getTemplate(outfit)">

                </tbody>

            </table>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        </div>
    </div>
</div>

<script type="text/ng-template" id="display">
    <td class="name-td">{{outfit.name}}</td>
    <td>{{outfit.size}}</td>
    <td>{{outfit.color}}</td>
    <td>{{outfit.price || number}}</td>
    <td>
        <ul>
            <li ng-repeat="cat in outfit.category" class="cat-list">{{getCategoryNameById(cat)}}</li>
        </ul>
    </td>
    <td>
        <button class="glyphicon glyphicon-pencil" ng-click="edit(outfit)"></button>
    </td>
    <td>
        <button class="glyphicon glyphicon-trash" ng-click="delete(outfit)"></button>
    </td>

</script>

<script type="text/ng-template" id="edit">
    <td>{{outfit.id}}</td>
    <td>
        <input type="text" id="edit-name" ng-model="editedOutfit.name"/>
        <span class="error-edit-span" ng-show="isEmptyName()">Wpisz nazwę!</span>
    </td>
    <td>

        <select ng-model="editedOutfit.size">
            <option selected>{{editedOutfit.size}}</option>
            <option ng-repeat="size in editedSizes">{{size}}</option>

        </select>
    </td>
    <td>

        <select ng-model="editedOutfit.color">
            <option selected>{{editedOutfit.color}}</option>
            <option ng-repeat="color in editedColors">{{color}}</option>

        </select>
    </td>
    <td><input type="number" id="edit-price" ng-model="editedOutfit.price"/>
        <span class="error-edit-span" ng-show="isInvalidPrice()">Wpisz poprawną cenę!</span>
    </td>
    <td>
        <ul>
            <li ng-repeat="cat in editedOutfit.category" class="cat-list">{{getCategoryNameById(cat)}}</li>
        </ul>
    </td>
    <td>
        <button class="glyphicon glyphicon-ok" ng-click="saveEdited(editedOutfit)"></button>
    </td>
    <td>
        <button class="glyphicon glyphicon-remove" ng-click="reset()"></button>
    </td>
</script>


</body>
</html>

